<div class="list" ng-controller='EditTaskController'>
	
	<div class="headerBox">
		<h1> Edit Task </h1>
	<h2> {{task.name}} </h2>
  </div>

  <div class="inputContainer">
		<form ng-submit="submit()">
		  <p> Name <font color ="red ">*</font> </p>
		  <input type="text" ng-model="inputName" name="name" required/>
		  <p> Description <p>
		  <input type="text" ng-model="inputDescription" name="description"/>
		  <p> Date <font color ="red ">*</font> </p>
		  <datepicker>
  			<input ng-model="inputDate" type="text" required/>
			</datepicker>
			<br>
			<p> User </p> 
		  <select ng-model="inputUser" ng-options="user.name for user in users">
		  	<option value=""> </option>
      </select>
      <p> Completed <p>
      <label>
	      <input type="radio" name="group" ng-model="inputCompleted" value="true">
	      <span> True
	    	</input>
    	</label>
    	<label>
	      <input type="radio" name="group" ng-model="inputCompleted" value="false">
	      <span> False
	    	</input>
    	</label>

		  <input type="submit" id="submit" value="Submit" />
		</form>

		<div class="successForm inputForm" ng-show="success === 'true'">
			Task {{inputName}} has been edited!
		</div>

	</div>
</div>

<!--
<div class="list" ng-controller='TaskController'>

	<h1> Edit Task </h1>
	<form ng-submit="submit()">
		  Name *
		  <input type="text" ng-model="inputName" name="name" required/>
		  Description
		  <input type="text" ng-model="inputDescription" name="description"/>
		  Date *
		  <input type="date" ng-model="inputDate" name="date" required/>
		  <select ng-model="inputUser" >
		  	<option value=""></option>
        <option ng-repeat="user in users" value="{{user._id}}"> {{user.name}}</option>
      </select>
		  <input type="submit" id="submit" value="Submit" />
	</form>

</div>

-->