<div class="list" ng-controller='UserController'>
	<h1> User Profile</h1>
	<pre> {{user.name}}     {{user.email}} </pre>

	<h2> Pending Tasks </h2>
	<ul>
    <li ng-repeat="task in tasks | filter:pendingUserFilter" >
      <div class="row pendingView">
        <div class="small-4 columns">
          <a ng-href="#tasks/{{task._id}}">
            {{task.name}}
          </a>
        </div>
        <div class="small-4 columns">
          <p> {{task.deadline}} </p>
        </div>
        <div class="small-4 columns deleteButton">
          <button class="completeTask" ng-href='#gallery' ng-click="completeTask(task)">
					Complete
  		    </button>
        </div>
      </div>
    </li>
  </ul>

	<h2> Completed Tasks </h2>
	<ul>
		<li ng-repeat="task in tasks | filter: completedUserFilter" >
      <div class="row completedView">
        <div class="small-4 columns">
          <a ng-href="#tasks/{{task._id}}">
            {{task.name}}
          </a>
        </div>
        <div class="small-4 columns">
          <p> {{task.deadline}} </p>
        </div>
      </div>
    </li>
  </ul>
</div>

	